{% extends 'plantapp/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add {{ plant.name }} to My Plants{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add {{ plant.name }} to Your Collection</h2>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{{ plant.image.url }}" class="card-img-top" alt="{{ plant.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <p class="card-text">{{ plant.description }}</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mt-3">Save Plant</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}